.min-progress {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stack-parent {
    width: 100%;
    height: 100%;
}

.title .title2 {
    width: 200px;
    height: 35%;
    font-size: 38fp;
    text-align: center;
}

.btnContainer {
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.leftBtn {
    width: 90px;
    height: 90px;
    font-size: 30px;
    background-color: green;
    margin-left: 30px;
}

.rightBtn {
    width: 90px;
    height: 90px;
    font-size: 30px;
    background-color: red;
}

.nextPage {
    width: 100%;
    height: 17%;
    top: 85%;
}

.swiper-item {
    width: 454px;
    height: 454px;
    justify-content: center;
    align-items: center;
}